<div class="left-side">
    <img src="/logo.png" alt="logo">

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="wrapper-field">
            <label for="email">Email or Username</label>
            <input formControlName="emailField" custom-input id="email" type="email">

            <div *ngIf="emailField?.touched" class="error-message-container">
                <span *ngIf="emailField?.hasError('email')">Email incorreto</span>
                <span *ngIf="emailField?.hasError('required')">Campo obrigatório</span>
            </div>
        </div>
        <div class="wrapper-field">
            <label for="password">Password</label>
            <input formControlName="passwordField" custom-input id="password" type="password">

            <div *ngIf="passwordField?.touched" class="error-message-container">
                <span *ngIf="passwordField?.hasError('minlength')">Minimo de 6 digitos</span>
            </div>
        </div>

        <button>
            Sign In
        </button>
    </form>
</div>


<div class="right-side">
    <h1>Let's Create the future together</h1>

    <a href="" link-button>Start a FREE 10-days Trial</a>
</div>


<router-outlet />
