:host{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    padding: 16px;
    border-radius: 2px;

}